/* .dataTables_paginate{
    display: none;
} */

.highlight{
    background: #abd5ab;
}


.adjust tr td{
    padding: 6px 10px !important;
    margin: 0 !important;
}

*{
    font-family: 'Century Gothic';
}

.dataTableLayout {
    table-layout:fixed;
    width:100%;
}